@model List<Football_3TL.Data.ChuSan>

<h2>Danh sách chủ sân</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ Tên</th>
            <th>Số Điện Thoại</th>
            <th>Email</th>
            <th>Tên Sân Bóng</th>
            <th>Địa Chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chuSan in Model)
        {
            <tr>
                <td>@chuSan.MaChuSan</td>
                <td>@chuSan.HoVaTen</td>
                <td>@chuSan.SoDienThoai</td>
                <td>@chuSan.Email</td>
                <td>@chuSan.TenSanBong</td>
                <td>@chuSan.Tinh - @chuSan.Huyen - @chuSan.Xa - @chuSan.DiaChi</td>
            </tr>
        }
    </tbody>
</table>

