@model IEnumerable<Football_3TL.Areas.ChuSanBong.Models.modelQuanLyDatSan>

<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Quản lý đặt sân</h2>
                </li>
                @await Html.PartialAsync("~/Areas/ChuSanBong/Views/ThongTinChuSan/Index.cshtml")
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div>
                <div class="row g-2">
                     <!-- Ô tìm kiếm sân -->
                     <div class="col-md-2 me-2">
                         <div class="input-group border rounded-2">
                             <span class="input-group-text bg-white border-0">
                                 <i class="fa-solid fa-magnifying-glass"></i>
                             </span>
                             <input type="text" class="form-control border-0" id="searchQuanLyDatSan" placeholder="Thông tin sân" style="border-radius: 10px; background-color: white;">
                         </div>
                     </div>
                    <!-- Ô chọn ngày -->
                    <div class="col-md-2 me-2">
                        <input class="form-control" id="myIDQLDS" style="border-radius: 10px; background-color: white;"
                               placeholder="Ngày Nhận">
                    </div>
                    <!-- Ô chọn thời lượng -->
                    <div class="col-md-2 me-2">
                        <select class="form-select" id="selectThoiLuong" style="border-radius: 10px; background-color: white;">
                            <option selected value="">Chọn thời lượng</option>
                            <option value="1">1 giờ</option>
                            <option value="1.5">1.5 giờ</option>
                        </select>
                    </div>
                    <!-- Ô chọn giờ nhận sân -->
                    <div class="col-md-2 me-2">
                        <select class="form-select" id="selectGio" style="border-radius: 10px; background-color: white;">
                            <option selected value="">Chọn khung giờ</option>
                            <!--code js vào đây-->
                        </select>
                    </div>
                    <div class="col-md-1 me-2 ms-4">
                        <button class="btn btn-secondary" id="btnResetSearchQLDS" style="border-radius: 10px;">
                            Reset
                        </button>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <a class="btn btn-primary w-100" onclick="loadThongTinThanhToan()" asp-controller="ThanhToan" asp-action="Index">Thanh Toán Tiền Sân</a>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table">
                            <thead style="background: #0e2238;">
                                <tr>
                                    <th scope="col" class="col-1">STT</th>
                                    <th scope="col" class="col-2">Tên sân</th>
                                    <th scope="col" class="col-1">Loại sân</th>
                                    <th scope="col" class="col-2 text-center">Giá sân</th>
                                    <th scope="col" class="col-2">Trạng thái</th>
                                    <th scope="col" class="col-2">Thanh toán</th>
                                    <th scope="col" class="col-2"></th>
                                </tr>
                            </thead>
                            <tbody id="danhSachSanQLDS">
                                @{
                                    int soThuTu = 1;
                                }
                                @if (Model != null && Model.Count() > 0)
                                {
                                    @foreach (var i in Model)
                                    {
                                        if (i.TrangThaiThanhToan == "Sân chưa đặt")
                                        {
                                            <tr>
                                                <th scope="row">@soThuTu</th>
                                                <td class="me-2">@i.TenSan</td>
                                                <td>@i.LoaiSan</td>
                                                <td class="text-center"><span id="giaSanDat">@i.GiaSan</span> / 1h</td>
                                                <td>@i.TrangThai</td>
                                                <td class="text-secondary">@i.TrangThaiThanhToan</td>
                                                <td>
                                                    <button type="button" class="btn btn-secondary btn-sm w-100"
                                                            style="border-radius: 10px;" onclick="modalDatSanTrong(this)" data-giasan="@i.GiaSan" data-tensan="@Html.Raw(i.TenSan)" data-masan="@i.MaSan">
                                                        Đặt sân bóng
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                        else if (i.TrangThaiThanhToan == "Đã thanh toán")
                                        {
                                            <tr>
                                                <th scope="row">@soThuTu</th>
                                                <td class="me-2">@i.TenSan</td>
                                                <td>@i.LoaiSan</td>
                                                <td class="text-center">@i.GiaSan / 1h</td>
                                                <td>@i.TrangThai</td>
                                                <td class="text-secondary">@i.TrangThaiThanhToan</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning btn-sm w-100"
                                                            style="border-radius: 10px;" onclick="getDataDatSan(@i.MaDatSan), modalXemThongTin()">
                                                        Xem thông tin
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th scope="row">@soThuTu</th>
                                                <td class="me-2">@i.TenSan</td>
                                                <td>@i.LoaiSan</td>
                                                <td class="text-center">@i.GiaSan / 1h</td>
                                                <td>@i.TrangThai</td>
                                                <td class="text-secondary">@i.TrangThaiThanhToan</td>
                                                <td>
                                                    <button type="button" class="btn btn-success btn-sm w-100"
                                                                        style="border-radius: 10px;" onclick="getDataDatSan(@i.MaDatSan), modalThanhToan()">
                                                        Thanh toán
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                        soThuTu++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center text-danger">Không có danh sách sân</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Modal cho nút chọn sân -->
<div class="modal fade" id="modalDatSanTrong">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hotenDatSan" placeholder="Nhập họ và tên">
                                        <span class="error text-danger" id="hotenDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiDatSan" placeholder="Nhập số điện thoại">
                                        <span class="error text-danger" id="soDienThoaiDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanDatSan" readonly>
                                        <span class="error text-danger" id="ngayNhanDatSanError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Khung giờ:</span></h6>
                                        <input type="text" class="form-control" id="khungGioDatSan" readonly>
                                        <span class="error text-danger" id="khungGioDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongDatSan" readonly>
                                        <span class="error text-danger" id="thoiLuongDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongthanhToanDatSan" readonly>
                                        <span class="error text-danger" id="tongthanhToanDatSanError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="form-control" id="ghiChuDatSan" placeholder="Nhập yêu cầu thêm (nếu có)"></textarea>
                                </div>
                                <div class="row d-flex justify-content-end mt-4 mb-2 me-1">
                                    <button type="button" class="btn btn-success w-25" id="btnDatSanTrong">
                                        Đặt
                                        sân
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal xem thông tin  -->
<div class="modal fade" id="modalXemThongTin">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hoTenDaDat" readonly>
                                        <span class="error text-danger" id="hoTenDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiDaDat" readonly>
                                        <span class="error text-danger" id="soDienThoaiDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanDaDat" readonly>
                                        <span class="error text-danger" id="ngayNhanDaDatError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Giờ nhận:</span></h6>
                                        <input type="text" class="form-control" id="khungGioDaDat" readonly>
                                        <span class="error text-danger" id="khungGioDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng:</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongDaDat" readonly>
                                        <span class="error text-danger" id="thoiLuongDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongThanhToanDaDat" readonly>
                                        <span class="error text-danger" id="tongThanhToanDaDatError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="moTaDatSan form-control" id="yeuCauDaDat" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal thanh toan -->
<div class="modal fade" id="modalThanhToanSan">
    <div class="modal-dialog modal-lg" id="modalDatSanDialog">
        <div class="modal-content" style="border-radius: 20px" id="modalDatSanContent">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hoTenTT" readonly>
                                        <span class="error text-danger" id="hoTenTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiTT" readonly>
                                        <span class="error text-danger" id="soDienThoaiTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanTT" readonly>
                                        <span class="error text-danger" id="ngayNhanTTError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Giờ nhận:</span></h6>
                                        <input type="text" class="form-control" id="khungGioTT" readonly>
                                        <span class="error text-danger" id="khungGioTTtError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng:</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongTT" readonly>
                                        <span class="error text-danger" id="thoiLuongTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongThanhToanTT" readonly>
                                        <span class="error text-danger" id="tongThanhToanTTError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="moTaDatSan form-control" id="yeuCauTT" readonly></textarea>
                                </div>
                                <div class="row d-flex justify-content-end mt-4 mb-2 me-1">
                                    <button type="button" class="btn btn-success w-25" id="btnThanhToanDatSan">
                                        Thanh Toán
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#myIDQLDS", {
        dateFormat: "d-m-Y",
        minDate: "today",
        onChange: function (selectedDates, dateStr, instance) {
            // Sau khi chọn ngày, cập nhật lại trạng thái của giờ nhận
            updateTimeOptionsForToday();
        }
    });

   
</script>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Message"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Thành công!',
                    text: '@Html.Raw(TempData["Message"])',
                    icon: 'success',
                    confirmButtonText: 'OK'
                                            });
            </text>
        }
        else if (TempData["Error"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Thất bại!',
                    text: text: '@Html.Raw(TempData["Message"])',
                    icon: 'error',
                    confirmButtonText: 'OK'
                                            });
            </text>
        }
    </script>
}